src/conf/xml-resources/web-service-references/RolServicio/wsdl/localhost_8080/DsamiStore-web-Service/RolServicio.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="RolServicio">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/DsamiStore-web-Service/RolServicio?xsd=1"/>
</xsd:schema>
</types>
<message name="listarRolesPaginacionCount">
<part name="parameters" element="tns:listarRolesPaginacionCount"/>
</message>
<message name="listarRolesPaginacionCountResponse">
<part name="parameters" element="tns:listarRolesPaginacionCountResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="actualizarRol">
<part name="parameters" element="tns:actualizarRol"/>
</message>
<message name="actualizarRolResponse">
<part name="parameters" element="tns:actualizarRolResponse"/>
</message>
<message name="eliminarRol">
<part name="parameters" element="tns:eliminarRol"/>
</message>
<message name="eliminarRolResponse">
<part name="parameters" element="tns:eliminarRolResponse"/>
</message>
<message name="agregarRol">
<part name="parameters" element="tns:agregarRol"/>
</message>
<message name="agregarRolResponse">
<part name="parameters" element="tns:agregarRolResponse"/>
</message>
<message name="listarRolesPaginacion">
<part name="parameters" element="tns:listarRolesPaginacion"/>
</message>
<message name="listarRolesPaginacionResponse">
<part name="parameters" element="tns:listarRolesPaginacionResponse"/>
</message>
<message name="listarRoles">
<part name="parameters" element="tns:listarRoles"/>
</message>
<message name="listarRolesResponse">
<part name="parameters" element="tns:listarRolesResponse"/>
</message>
<portType name="RolServicio">
<operation name="listarRolesPaginacionCount">
<input wsam:Action="http://WebService/RolServicio/listarRolesPaginacionCountRequest" message="tns:listarRolesPaginacionCount"/>
<output wsam:Action="http://WebService/RolServicio/listarRolesPaginacionCountResponse" message="tns:listarRolesPaginacionCountResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/RolServicio/listarRolesPaginacionCount/Fault/Exception"/>
</operation>
<operation name="actualizarRol">
<input wsam:Action="http://WebService/RolServicio/actualizarRolRequest" message="tns:actualizarRol"/>
<output wsam:Action="http://WebService/RolServicio/actualizarRolResponse" message="tns:actualizarRolResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/RolServicio/actualizarRol/Fault/Exception"/>
</operation>
<operation name="eliminarRol">
<input wsam:Action="http://WebService/RolServicio/eliminarRolRequest" message="tns:eliminarRol"/>
<output wsam:Action="http://WebService/RolServicio/eliminarRolResponse" message="tns:eliminarRolResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/RolServicio/eliminarRol/Fault/Exception"/>
</operation>
<operation name="agregarRol">
<input wsam:Action="http://WebService/RolServicio/agregarRolRequest" message="tns:agregarRol"/>
<output wsam:Action="http://WebService/RolServicio/agregarRolResponse" message="tns:agregarRolResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/RolServicio/agregarRol/Fault/Exception"/>
</operation>
<operation name="listarRolesPaginacion">
<input wsam:Action="http://WebService/RolServicio/listarRolesPaginacionRequest" message="tns:listarRolesPaginacion"/>
<output wsam:Action="http://WebService/RolServicio/listarRolesPaginacionResponse" message="tns:listarRolesPaginacionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/RolServicio/listarRolesPaginacion/Fault/Exception"/>
</operation>
<operation name="listarRoles">
<input wsam:Action="http://WebService/RolServicio/listarRolesRequest" message="tns:listarRoles"/>
<output wsam:Action="http://WebService/RolServicio/listarRolesResponse" message="tns:listarRolesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/RolServicio/listarRoles/Fault/Exception"/>
</operation>
</portType>
<binding name="RolServicioPortBinding" type="tns:RolServicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarRolesPaginacionCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="actualizarRol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="eliminarRol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="agregarRol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listarRolesPaginacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listarRoles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="RolServicio">
<port name="RolServicioPort" binding="tns:RolServicioPortBinding">
<soap:address location="http://localhost:8080/DsamiStore-web-Service/RolServicio"/>
</port>
</service>
</definitions>