src/conf/xml-resources/web-service-references/Servicios/wsdl/localhost_8080/DsamiStore-web-Service/Servicios.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="agregarCategoria" type="tns:agregarCategoria"/>

<xs:element name="agregarCategoriaResponse" type="tns:agregarCategoriaResponse"/>

<xs:element name="eliminarCategoria" type="tns:eliminarCategoria"/>

<xs:element name="eliminarCategoriaResponse" type="tns:eliminarCategoriaResponse"/>

<xs:element name="listarCategorias" type="tns:listarCategorias"/>

<xs:element name="listarCategoriasPaginacion" type="tns:listarCategoriasPaginacion"/>

<xs:element name="listarCategoriasPaginacionCount" type="tns:listarCategoriasPaginacionCount"/>

<xs:element name="listarCategoriasPaginacionCountResponse" type="tns:listarCategoriasPaginacionCountResponse"/>

<xs:element name="listarCategoriasPaginacionResponse" type="tns:listarCategoriasPaginacionResponse"/>

<xs:element name="listarCategoriasResponse" type="tns:listarCategoriasResponse"/>

<xs:element name="modificarCategoria" type="tns:modificarCategoria"/>

<xs:element name="modificarCategoriaResponse" type="tns:modificarCategoriaResponse"/>

<xs:complexType name="listarCategoriasPaginacion">
<xs:sequence>
<xs:element name="consulta" type="xs:string" minOccurs="0"/>
<xs:element name="pagina" type="xs:int"/>
<xs:element name="cantidad" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarCategoriasPaginacionResponse">
<xs:sequence>
<xs:element name="return" type="tns:categoria" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="categoria">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarCategoriasPaginacionCount">
<xs:sequence>
<xs:element name="consulta" type="xs:string" minOccurs="0"/>
<xs:element name="cantidad" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarCategoriasPaginacionCountResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarCategoria">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarCategoriaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarCategorias">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarCategoriasResponse">
<xs:sequence>
<xs:element name="return" type="tns:categoria" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarCategoria">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarCategoriaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="agregarCategoria">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarCategoriaResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>