web/WEB-INF/wsdl/localhost_8080/DsamiStore-web-Service/EmpleadoServicio.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="EmpleadoServicio">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/DsamiStore-web-Service/EmpleadoServicio?xsd=1"/>
</xsd:schema>
</types>
<message name="listarDistritos">
<part name="parameters" element="tns:listarDistritos"/>
</message>
<message name="listarDistritosResponse">
<part name="parameters" element="tns:listarDistritosResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="listarEmpleado">
<part name="parameters" element="tns:listarEmpleado"/>
</message>
<message name="listarEmpleadoResponse">
<part name="parameters" element="tns:listarEmpleadoResponse"/>
</message>
<message name="agregarEmpleado">
<part name="parameters" element="tns:agregarEmpleado"/>
</message>
<message name="agregarEmpleadoResponse">
<part name="parameters" element="tns:agregarEmpleadoResponse"/>
</message>
<message name="eliminarEmpleado">
<part name="parameters" element="tns:eliminarEmpleado"/>
</message>
<message name="eliminarEmpleadoResponse">
<part name="parameters" element="tns:eliminarEmpleadoResponse"/>
</message>
<message name="listarProvincias">
<part name="parameters" element="tns:listarProvincias"/>
</message>
<message name="listarProvinciasResponse">
<part name="parameters" element="tns:listarProvinciasResponse"/>
</message>
<message name="modificarEmpleado">
<part name="parameters" element="tns:modificarEmpleado"/>
</message>
<message name="modificarEmpleadoResponse">
<part name="parameters" element="tns:modificarEmpleadoResponse"/>
</message>
<message name="listarEmpresas">
<part name="parameters" element="tns:listarEmpresas"/>
</message>
<message name="listarEmpresasResponse">
<part name="parameters" element="tns:listarEmpresasResponse"/>
</message>
<message name="listarDocumentos">
<part name="parameters" element="tns:listarDocumentos"/>
</message>
<message name="listarDocumentosResponse">
<part name="parameters" element="tns:listarDocumentosResponse"/>
</message>
<message name="listarPaises">
<part name="parameters" element="tns:listarPaises"/>
</message>
<message name="listarPaisesResponse">
<part name="parameters" element="tns:listarPaisesResponse"/>
</message>
<message name="listarRegiones">
<part name="parameters" element="tns:listarRegiones"/>
</message>
<message name="listarRegionesResponse">
<part name="parameters" element="tns:listarRegionesResponse"/>
</message>
<portType name="EmpleadoServicio">
<operation name="listarDistritos">
<input wsam:Action="http://WebService/EmpleadoServicio/listarDistritosRequest" message="tns:listarDistritos"/>
<output wsam:Action="http://WebService/EmpleadoServicio/listarDistritosResponse" message="tns:listarDistritosResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/EmpleadoServicio/listarDistritos/Fault/Exception"/>
</operation>
<operation name="listarEmpleado">
<input wsam:Action="http://WebService/EmpleadoServicio/listarEmpleadoRequest" message="tns:listarEmpleado"/>
<output wsam:Action="http://WebService/EmpleadoServicio/listarEmpleadoResponse" message="tns:listarEmpleadoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/EmpleadoServicio/listarEmpleado/Fault/Exception"/>
</operation>
<operation name="agregarEmpleado">
<input wsam:Action="http://WebService/EmpleadoServicio/agregarEmpleadoRequest" message="tns:agregarEmpleado"/>
<output wsam:Action="http://WebService/EmpleadoServicio/agregarEmpleadoResponse" message="tns:agregarEmpleadoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/EmpleadoServicio/agregarEmpleado/Fault/Exception"/>
</operation>
<operation name="eliminarEmpleado">
<input wsam:Action="http://WebService/EmpleadoServicio/eliminarEmpleadoRequest" message="tns:eliminarEmpleado"/>
<output wsam:Action="http://WebService/EmpleadoServicio/eliminarEmpleadoResponse" message="tns:eliminarEmpleadoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/EmpleadoServicio/eliminarEmpleado/Fault/Exception"/>
</operation>
<operation name="listarProvincias">
<input wsam:Action="http://WebService/EmpleadoServicio/listarProvinciasRequest" message="tns:listarProvincias"/>
<output wsam:Action="http://WebService/EmpleadoServicio/listarProvinciasResponse" message="tns:listarProvinciasResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/EmpleadoServicio/listarProvincias/Fault/Exception"/>
</operation>
<operation name="modificarEmpleado">
<input wsam:Action="http://WebService/EmpleadoServicio/modificarEmpleadoRequest" message="tns:modificarEmpleado"/>
<output wsam:Action="http://WebService/EmpleadoServicio/modificarEmpleadoResponse" message="tns:modificarEmpleadoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/EmpleadoServicio/modificarEmpleado/Fault/Exception"/>
</operation>
<operation name="listarEmpresas">
<input wsam:Action="http://WebService/EmpleadoServicio/listarEmpresasRequest" message="tns:listarEmpresas"/>
<output wsam:Action="http://WebService/EmpleadoServicio/listarEmpresasResponse" message="tns:listarEmpresasResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/EmpleadoServicio/listarEmpresas/Fault/Exception"/>
</operation>
<operation name="listarDocumentos">
<input wsam:Action="http://WebService/EmpleadoServicio/listarDocumentosRequest" message="tns:listarDocumentos"/>
<output wsam:Action="http://WebService/EmpleadoServicio/listarDocumentosResponse" message="tns:listarDocumentosResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/EmpleadoServicio/listarDocumentos/Fault/Exception"/>
</operation>
<operation name="listarPaises">
<input wsam:Action="http://WebService/EmpleadoServicio/listarPaisesRequest" message="tns:listarPaises"/>
<output wsam:Action="http://WebService/EmpleadoServicio/listarPaisesResponse" message="tns:listarPaisesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/EmpleadoServicio/listarPaises/Fault/Exception"/>
</operation>
<operation name="listarRegiones">
<input wsam:Action="http://WebService/EmpleadoServicio/listarRegionesRequest" message="tns:listarRegiones"/>
<output wsam:Action="http://WebService/EmpleadoServicio/listarRegionesResponse" message="tns:listarRegionesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/EmpleadoServicio/listarRegiones/Fault/Exception"/>
</operation>
</portType>
<binding name="EmpleadoServicioPortBinding" type="tns:EmpleadoServicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarDistritos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="agregarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="eliminarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listarProvincias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="modificarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listarEmpresas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listarDocumentos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listarPaises">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listarRegiones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="EmpleadoServicio">
<port name="EmpleadoServicioPort" binding="tns:EmpleadoServicioPortBinding">
<soap:address location="http://localhost:8080/DsamiStore-web-Service/EmpleadoServicio"/>
</port>
</service>
</definitions>