web/WEB-INF/wsdl/localhost_8080/DsamiStore-web-Service/UsuarioServicio.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="UsuarioServicio">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/DsamiStore-web-Service/UsuarioServicio?xsd=1"/>
</xsd:schema>
</types>
<message name="listarUsuarios">
<part name="parameters" element="tns:listarUsuarios"/>
</message>
<message name="listarUsuariosResponse">
<part name="parameters" element="tns:listarUsuariosResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="crearUsuario">
<part name="parameters" element="tns:crearUsuario"/>
</message>
<message name="crearUsuarioResponse">
<part name="parameters" element="tns:crearUsuarioResponse"/>
</message>
<message name="editarUsuario">
<part name="parameters" element="tns:editarUsuario"/>
</message>
<message name="editarUsuarioResponse">
<part name="parameters" element="tns:editarUsuarioResponse"/>
</message>
<message name="eliminarUsuario">
<part name="parameters" element="tns:eliminarUsuario"/>
</message>
<message name="eliminarUsuarioResponse">
<part name="parameters" element="tns:eliminarUsuarioResponse"/>
</message>
<message name="buscarUsuarios">
<part name="parameters" element="tns:buscarUsuarios"/>
</message>
<message name="buscarUsuariosResponse">
<part name="parameters" element="tns:buscarUsuariosResponse"/>
</message>
<portType name="UsuarioServicio">
<operation name="listarUsuarios">
<input wsam:Action="http://WebService/UsuarioServicio/listarUsuariosRequest" message="tns:listarUsuarios"/>
<output wsam:Action="http://WebService/UsuarioServicio/listarUsuariosResponse" message="tns:listarUsuariosResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/UsuarioServicio/listarUsuarios/Fault/Exception"/>
</operation>
<operation name="crearUsuario">
<input wsam:Action="http://WebService/UsuarioServicio/crearUsuarioRequest" message="tns:crearUsuario"/>
<output wsam:Action="http://WebService/UsuarioServicio/crearUsuarioResponse" message="tns:crearUsuarioResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/UsuarioServicio/crearUsuario/Fault/Exception"/>
</operation>
<operation name="editarUsuario">
<input wsam:Action="http://WebService/UsuarioServicio/editarUsuarioRequest" message="tns:editarUsuario"/>
<output wsam:Action="http://WebService/UsuarioServicio/editarUsuarioResponse" message="tns:editarUsuarioResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/UsuarioServicio/editarUsuario/Fault/Exception"/>
</operation>
<operation name="eliminarUsuario">
<input wsam:Action="http://WebService/UsuarioServicio/eliminarUsuarioRequest" message="tns:eliminarUsuario"/>
<output wsam:Action="http://WebService/UsuarioServicio/eliminarUsuarioResponse" message="tns:eliminarUsuarioResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/UsuarioServicio/eliminarUsuario/Fault/Exception"/>
</operation>
<operation name="buscarUsuarios">
<input wsam:Action="http://WebService/UsuarioServicio/buscarUsuariosRequest" message="tns:buscarUsuarios"/>
<output wsam:Action="http://WebService/UsuarioServicio/buscarUsuariosResponse" message="tns:buscarUsuariosResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/UsuarioServicio/buscarUsuarios/Fault/Exception"/>
</operation>
</portType>
<binding name="UsuarioServicioPortBinding" type="tns:UsuarioServicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="crearUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="editarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="eliminarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="buscarUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="UsuarioServicio">
<port name="UsuarioServicioPort" binding="tns:UsuarioServicioPortBinding">
<soap:address location="http://localhost:8080/DsamiStore-web-Service/UsuarioServicio"/>
</port>
</service>
</definitions>