src/conf/xml-resources/web-service-references/RecepcionServicio/wsdl/localhost_8080/DsamiStore-web-Service/RecepcionServicio.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="agregarRecepcion" type="tns:agregarRecepcion"/>

<xs:element name="agregarRecepcionResponse" type="tns:agregarRecepcionResponse"/>

<xs:element name="eliminarRecepcion" type="tns:eliminarRecepcion"/>

<xs:element name="eliminarRecepcionResponse" type="tns:eliminarRecepcionResponse"/>

<xs:element name="listarRecepcion" type="tns:listarRecepcion"/>

<xs:element name="listarRecepcionResponse" type="tns:listarRecepcionResponse"/>

<xs:element name="modificarRecepcion" type="tns:modificarRecepcion"/>

<xs:element name="modificarRecepcionResponse" type="tns:modificarRecepcionResponse"/>

<xs:element name="producto" type="tns:producto"/>

<xs:complexType name="modificarRecepcion">
<xs:sequence>
<xs:element name="idRecepcionDetalle" type="xs:string" minOccurs="0"/>
<xs:element name="producto" type="xs:string" minOccurs="0"/>
<xs:element name="precioRecepcion" type="xs:double"/>
<xs:element name="cantidadRecepcion" type="xs:int"/>
<xs:element name="empleado" type="xs:string" minOccurs="0"/>
<xs:element name="proveedor" type="xs:string" minOccurs="0"/>
<xs:element name="fechaPedido" type="xs:string" minOccurs="0"/>
<xs:element name="fechaRespuesta" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarRecepcionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarRecepcion">
<xs:sequence>
<xs:element name="producto" type="xs:string" minOccurs="0"/>
<xs:element name="precioRecepcion" type="xs:double"/>
<xs:element name="cantidadRecepcion" type="xs:int"/>
<xs:element name="empleado" type="xs:string" minOccurs="0"/>
<xs:element name="proveedor" type="xs:string" minOccurs="0"/>
<xs:element name="fechaPedido" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarRecepcionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarRecepcion">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarRecepcionResponse">
<xs:sequence>
<xs:element name="return" type="tns:recepcionDetalle" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="recepcionDetalle">
<xs:sequence>
<xs:element name="cantidadRecepcion" type="xs:int"/>
<xs:element name="idProducto" type="xs:string" minOccurs="0"/>
<xs:element name="idRecepcion" type="xs:string" minOccurs="0"/>
<xs:element name="idRecepcionDetalle" type="xs:string" minOccurs="0"/>
<xs:element name="precioRecepcion" type="xs:double" minOccurs="0"/>
<xs:element name="producto" type="tns:producto" minOccurs="0"/>
<xs:element name="recepcion" type="tns:recepcion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="productoID" type="xs:string" minOccurs="0"/>
<xs:element name="marcaID" type="xs:string" minOccurs="0"/>
<xs:element name="categoriaID" type="xs:string" minOccurs="0"/>
<xs:element name="imagenID" type="xs:string" minOccurs="0"/>
<xs:element name="almacenID" type="xs:string" minOccurs="0"/>
<xs:element name="monedaID" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="codBarras" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="recepcion">
<xs:sequence>
<xs:element name="empleado" type="tns:empleado" minOccurs="0"/>
<xs:element name="estadoRecepcion" type="xs:int"/>
<xs:element name="fechaPedido" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaRespuesta" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idEmpleado" type="xs:string" minOccurs="0"/>
<xs:element name="idProveedor" type="xs:string" minOccurs="0"/>
<xs:element name="idRecepcion" type="xs:string" minOccurs="0"/>
<xs:element name="proveedor" type="tns:proveedor" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="empleado">
<xs:complexContent>
<xs:extension base="tns:persona">
<xs:sequence>
<xs:element name="codigoEmpleado" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="distrito" type="tns:distrito" minOccurs="0"/>
<xs:element name="documento" type="tns:documento" minOccurs="0"/>
<xs:element name="empresa" type="tns:empresa" minOccurs="0"/>
<xs:element name="idDistrito" type="xs:string" minOccurs="0"/>
<xs:element name="idEmpresa" type="xs:string" minOccurs="0"/>
<xs:element name="idPais" type="xs:string" minOccurs="0"/>
<xs:element name="idProvincia" type="xs:string" minOccurs="0"/>
<xs:element name="idRegion" type="xs:string" minOccurs="0"/>
<xs:element name="numDocum" type="xs:string" minOccurs="0"/>
<xs:element name="provincia" type="tns:provincia" minOccurs="0"/>
<xs:element name="region" type="tns:region" minOccurs="0"/>
<xs:element name="tipDocumento" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="persona">
<xs:sequence>
<xs:element name="apellidoMaterno" type="xs:string" minOccurs="0"/>
<xs:element name="apellidoPaterno" type="xs:string" minOccurs="0"/>
<xs:element name="codigoDocumento" type="xs:string" minOccurs="0"/>
<xs:element name="codigoPais" type="xs:string" minOccurs="0"/>
<xs:element name="codigoPersona" type="xs:string" minOccurs="0"/>
<xs:element name="codigoUbicacion" type="xs:string" minOccurs="0"/>
<xs:element name="fechaNacimiento" type="xs:dateTime" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="pais" type="tns:pais" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="distrito">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="idProvincia" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="provincia" type="tns:provincia" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="provincia">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="idRegion" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="documento">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="empresa">
<xs:sequence>
<xs:element name="idEmpresa" type="xs:string" minOccurs="0"/>
<xs:element name="idUbicacion" type="xs:string" minOccurs="0"/>
<xs:element name="razonSocial" type="xs:string" minOccurs="0"/>
<xs:element name="rucEmpresa" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="region">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="idPais" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="pais" type="tns:pais" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pais">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="proveedor">
<xs:complexContent>
<xs:extension base="tns:persona">
<xs:sequence>
<xs:element name="codigoProveedor" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="distrito" type="tns:distrito" minOccurs="0"/>
<xs:element name="documento" type="tns:documento" minOccurs="0"/>
<xs:element name="empresa" type="tns:empresa" minOccurs="0"/>
<xs:element name="idDistrito" type="xs:string" minOccurs="0"/>
<xs:element name="idEmpresa" type="xs:string" minOccurs="0"/>
<xs:element name="idPais" type="xs:string" minOccurs="0"/>
<xs:element name="idProvincia" type="xs:string" minOccurs="0"/>
<xs:element name="idRegion" type="xs:string" minOccurs="0"/>
<xs:element name="numDocum" type="xs:string" minOccurs="0"/>
<xs:element name="provincia" type="tns:provincia" minOccurs="0"/>
<xs:element name="region" type="tns:region" minOccurs="0"/>
<xs:element name="tipDocumento" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="listarRecepcion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarRecepcionResponse">
<xs:sequence>
<xs:element name="return" type="tns:recepcionDetalle" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>