src/conf/xml-resources/web-service-references/RecepcionServicio/wsdl/localhost_8080/DsamiStore-web-Service/RecepcionServicio.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="RecepcionServicio">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/DsamiStore-web-Service/RecepcionServicio?xsd=1"/>
</xsd:schema>
</types>
<message name="agregarRecepcion">
<part name="parameters" element="tns:agregarRecepcion"/>
</message>
<message name="agregarRecepcionResponse">
<part name="parameters" element="tns:agregarRecepcionResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="listarRecepcion">
<part name="parameters" element="tns:listarRecepcion"/>
</message>
<message name="listarRecepcionResponse">
<part name="parameters" element="tns:listarRecepcionResponse"/>
</message>
<message name="modificarRecepcion">
<part name="parameters" element="tns:modificarRecepcion"/>
</message>
<message name="modificarRecepcionResponse">
<part name="parameters" element="tns:modificarRecepcionResponse"/>
</message>
<message name="eliminarRecepcion">
<part name="parameters" element="tns:eliminarRecepcion"/>
</message>
<message name="eliminarRecepcionResponse">
<part name="parameters" element="tns:eliminarRecepcionResponse"/>
</message>
<portType name="RecepcionServicio">
<operation name="agregarRecepcion">
<input wsam:Action="http://WebService/RecepcionServicio/agregarRecepcionRequest" message="tns:agregarRecepcion"/>
<output wsam:Action="http://WebService/RecepcionServicio/agregarRecepcionResponse" message="tns:agregarRecepcionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/RecepcionServicio/agregarRecepcion/Fault/Exception"/>
</operation>
<operation name="listarRecepcion">
<input wsam:Action="http://WebService/RecepcionServicio/listarRecepcionRequest" message="tns:listarRecepcion"/>
<output wsam:Action="http://WebService/RecepcionServicio/listarRecepcionResponse" message="tns:listarRecepcionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/RecepcionServicio/listarRecepcion/Fault/Exception"/>
</operation>
<operation name="modificarRecepcion">
<input wsam:Action="http://WebService/RecepcionServicio/modificarRecepcionRequest" message="tns:modificarRecepcion"/>
<output wsam:Action="http://WebService/RecepcionServicio/modificarRecepcionResponse" message="tns:modificarRecepcionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/RecepcionServicio/modificarRecepcion/Fault/Exception"/>
</operation>
<operation name="eliminarRecepcion">
<input wsam:Action="http://WebService/RecepcionServicio/eliminarRecepcionRequest" message="tns:eliminarRecepcion"/>
<output wsam:Action="http://WebService/RecepcionServicio/eliminarRecepcionResponse" message="tns:eliminarRecepcionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/RecepcionServicio/eliminarRecepcion/Fault/Exception"/>
</operation>
</portType>
<binding name="RecepcionServicioPortBinding" type="tns:RecepcionServicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="agregarRecepcion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listarRecepcion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="modificarRecepcion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="eliminarRecepcion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="RecepcionServicio">
<port name="RecepcionServicioPort" binding="tns:RecepcionServicioPortBinding">
<soap:address location="http://localhost:8080/DsamiStore-web-Service/RecepcionServicio"/>
</port>
</service>
</definitions>