src/conf/xml-resources/web-service-references/ProductoServicio/wsdl/localhost_8080/DsamiStore-web-Service/ProductoServicio.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="ProductoServicio">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/DsamiStore-web-Service/ProductoServicio?xsd=1"/>
</xsd:schema>
</types>
<message name="listarAlmacen">
<part name="parameters" element="tns:listarAlmacen"/>
</message>
<message name="listarAlmacenResponse">
<part name="parameters" element="tns:listarAlmacenResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="listarMoneda">
<part name="parameters" element="tns:listarMoneda"/>
</message>
<message name="listarMonedaResponse">
<part name="parameters" element="tns:listarMonedaResponse"/>
</message>
<message name="agregarProducto">
<part name="parameters" element="tns:agregarProducto"/>
</message>
<message name="agregarProductoResponse">
<part name="parameters" element="tns:agregarProductoResponse"/>
</message>
<message name="listarProductos">
<part name="parameters" element="tns:listarProductos"/>
</message>
<message name="listarProductosResponse">
<part name="parameters" element="tns:listarProductosResponse"/>
</message>
<message name="modificarProducto">
<part name="parameters" element="tns:modificarProducto"/>
</message>
<message name="modificarProductoResponse">
<part name="parameters" element="tns:modificarProductoResponse"/>
</message>
<message name="eliminarProducto">
<part name="parameters" element="tns:eliminarProducto"/>
</message>
<message name="eliminarProductoResponse">
<part name="parameters" element="tns:eliminarProductoResponse"/>
</message>
<message name="buscarProducto">
<part name="parameters" element="tns:buscarProducto"/>
</message>
<message name="buscarProductoResponse">
<part name="parameters" element="tns:buscarProductoResponse"/>
</message>
<message name="listarCategoria">
<part name="parameters" element="tns:listarCategoria"/>
</message>
<message name="listarCategoriaResponse">
<part name="parameters" element="tns:listarCategoriaResponse"/>
</message>
<message name="listarMarca">
<part name="parameters" element="tns:listarMarca"/>
</message>
<message name="listarMarcaResponse">
<part name="parameters" element="tns:listarMarcaResponse"/>
</message>
<portType name="ProductoServicio">
<operation name="listarAlmacen">
<input wsam:Action="http://WebService/ProductoServicio/listarAlmacenRequest" message="tns:listarAlmacen"/>
<output wsam:Action="http://WebService/ProductoServicio/listarAlmacenResponse" message="tns:listarAlmacenResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/ProductoServicio/listarAlmacen/Fault/Exception"/>
</operation>
<operation name="listarMoneda">
<input wsam:Action="http://WebService/ProductoServicio/listarMonedaRequest" message="tns:listarMoneda"/>
<output wsam:Action="http://WebService/ProductoServicio/listarMonedaResponse" message="tns:listarMonedaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/ProductoServicio/listarMoneda/Fault/Exception"/>
</operation>
<operation name="agregarProducto">
<input wsam:Action="http://WebService/ProductoServicio/agregarProductoRequest" message="tns:agregarProducto"/>
<output wsam:Action="http://WebService/ProductoServicio/agregarProductoResponse" message="tns:agregarProductoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/ProductoServicio/agregarProducto/Fault/Exception"/>
</operation>
<operation name="listarProductos">
<input wsam:Action="http://WebService/ProductoServicio/listarProductosRequest" message="tns:listarProductos"/>
<output wsam:Action="http://WebService/ProductoServicio/listarProductosResponse" message="tns:listarProductosResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/ProductoServicio/listarProductos/Fault/Exception"/>
</operation>
<operation name="modificarProducto">
<input wsam:Action="http://WebService/ProductoServicio/modificarProductoRequest" message="tns:modificarProducto"/>
<output wsam:Action="http://WebService/ProductoServicio/modificarProductoResponse" message="tns:modificarProductoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/ProductoServicio/modificarProducto/Fault/Exception"/>
</operation>
<operation name="eliminarProducto">
<input wsam:Action="http://WebService/ProductoServicio/eliminarProductoRequest" message="tns:eliminarProducto"/>
<output wsam:Action="http://WebService/ProductoServicio/eliminarProductoResponse" message="tns:eliminarProductoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/ProductoServicio/eliminarProducto/Fault/Exception"/>
</operation>
<operation name="buscarProducto">
<input wsam:Action="http://WebService/ProductoServicio/buscarProductoRequest" message="tns:buscarProducto"/>
<output wsam:Action="http://WebService/ProductoServicio/buscarProductoResponse" message="tns:buscarProductoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/ProductoServicio/buscarProducto/Fault/Exception"/>
</operation>
<operation name="listarCategoria">
<input wsam:Action="http://WebService/ProductoServicio/listarCategoriaRequest" message="tns:listarCategoria"/>
<output wsam:Action="http://WebService/ProductoServicio/listarCategoriaResponse" message="tns:listarCategoriaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/ProductoServicio/listarCategoria/Fault/Exception"/>
</operation>
<operation name="listarMarca">
<input wsam:Action="http://WebService/ProductoServicio/listarMarcaRequest" message="tns:listarMarca"/>
<output wsam:Action="http://WebService/ProductoServicio/listarMarcaResponse" message="tns:listarMarcaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/ProductoServicio/listarMarca/Fault/Exception"/>
</operation>
</portType>
<binding name="ProductoServicioPortBinding" type="tns:ProductoServicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarAlmacen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listarMoneda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="agregarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listarProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="modificarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="eliminarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="buscarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listarCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listarMarca">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="ProductoServicio">
<port name="ProductoServicioPort" binding="tns:ProductoServicioPortBinding">
<soap:address location="http://localhost:8080/DsamiStore-web-Service/ProductoServicio"/>
</port>
</service>
</definitions>