src/conf/xml-resources/web-service-references/ProveedorServicio/wsdl/localhost_8080/DsamiStore-web-Service/ProveedorServicio.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="ProveedorServicio">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/DsamiStore-web-Service/ProveedorServicio?xsd=1"/>
</xsd:schema>
</types>
<message name="listarDistritos">
<part name="parameters" element="tns:listarDistritos"/>
</message>
<message name="listarDistritosResponse">
<part name="parameters" element="tns:listarDistritosResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="agregarProveedor">
<part name="parameters" element="tns:agregarProveedor"/>
</message>
<message name="agregarProveedorResponse">
<part name="parameters" element="tns:agregarProveedorResponse"/>
</message>
<message name="listarProveedor">
<part name="parameters" element="tns:listarProveedor"/>
</message>
<message name="listarProveedorResponse">
<part name="parameters" element="tns:listarProveedorResponse"/>
</message>
<message name="listarProveedoresPaginacion">
<part name="parameters" element="tns:listarProveedoresPaginacion"/>
</message>
<message name="listarProveedoresPaginacionResponse">
<part name="parameters" element="tns:listarProveedoresPaginacionResponse"/>
</message>
<message name="listarProveedoresPaginacionCount">
<part name="parameters" element="tns:listarProveedoresPaginacionCount"/>
</message>
<message name="listarProveedoresPaginacionCountResponse">
<part name="parameters" element="tns:listarProveedoresPaginacionCountResponse"/>
</message>
<message name="listarProvincias">
<part name="parameters" element="tns:listarProvincias"/>
</message>
<message name="listarProvinciasResponse">
<part name="parameters" element="tns:listarProvinciasResponse"/>
</message>
<message name="modificarProveedor">
<part name="parameters" element="tns:modificarProveedor"/>
</message>
<message name="modificarProveedorResponse">
<part name="parameters" element="tns:modificarProveedorResponse"/>
</message>
<message name="eliminarProveedor">
<part name="parameters" element="tns:eliminarProveedor"/>
</message>
<message name="eliminarProveedorResponse">
<part name="parameters" element="tns:eliminarProveedorResponse"/>
</message>
<message name="listarEmpresas">
<part name="parameters" element="tns:listarEmpresas"/>
</message>
<message name="listarEmpresasResponse">
<part name="parameters" element="tns:listarEmpresasResponse"/>
</message>
<message name="listarDocumentos">
<part name="parameters" element="tns:listarDocumentos"/>
</message>
<message name="listarDocumentosResponse">
<part name="parameters" element="tns:listarDocumentosResponse"/>
</message>
<message name="listarPaises">
<part name="parameters" element="tns:listarPaises"/>
</message>
<message name="listarPaisesResponse">
<part name="parameters" element="tns:listarPaisesResponse"/>
</message>
<message name="listarRegiones">
<part name="parameters" element="tns:listarRegiones"/>
</message>
<message name="listarRegionesResponse">
<part name="parameters" element="tns:listarRegionesResponse"/>
</message>
<portType name="ProveedorServicio">
<operation name="listarDistritos">
<input wsam:Action="http://WebService/ProveedorServicio/listarDistritosRequest" message="tns:listarDistritos"/>
<output wsam:Action="http://WebService/ProveedorServicio/listarDistritosResponse" message="tns:listarDistritosResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/ProveedorServicio/listarDistritos/Fault/Exception"/>
</operation>
<operation name="agregarProveedor">
<input wsam:Action="http://WebService/ProveedorServicio/agregarProveedorRequest" message="tns:agregarProveedor"/>
<output wsam:Action="http://WebService/ProveedorServicio/agregarProveedorResponse" message="tns:agregarProveedorResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/ProveedorServicio/agregarProveedor/Fault/Exception"/>
</operation>
<operation name="listarProveedor">
<input wsam:Action="http://WebService/ProveedorServicio/listarProveedorRequest" message="tns:listarProveedor"/>
<output wsam:Action="http://WebService/ProveedorServicio/listarProveedorResponse" message="tns:listarProveedorResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/ProveedorServicio/listarProveedor/Fault/Exception"/>
</operation>
<operation name="listarProveedoresPaginacion">
<input wsam:Action="http://WebService/ProveedorServicio/listarProveedoresPaginacionRequest" message="tns:listarProveedoresPaginacion"/>
<output wsam:Action="http://WebService/ProveedorServicio/listarProveedoresPaginacionResponse" message="tns:listarProveedoresPaginacionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/ProveedorServicio/listarProveedoresPaginacion/Fault/Exception"/>
</operation>
<operation name="listarProveedoresPaginacionCount">
<input wsam:Action="http://WebService/ProveedorServicio/listarProveedoresPaginacionCountRequest" message="tns:listarProveedoresPaginacionCount"/>
<output wsam:Action="http://WebService/ProveedorServicio/listarProveedoresPaginacionCountResponse" message="tns:listarProveedoresPaginacionCountResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/ProveedorServicio/listarProveedoresPaginacionCount/Fault/Exception"/>
</operation>
<operation name="listarProvincias">
<input wsam:Action="http://WebService/ProveedorServicio/listarProvinciasRequest" message="tns:listarProvincias"/>
<output wsam:Action="http://WebService/ProveedorServicio/listarProvinciasResponse" message="tns:listarProvinciasResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/ProveedorServicio/listarProvincias/Fault/Exception"/>
</operation>
<operation name="modificarProveedor">
<input wsam:Action="http://WebService/ProveedorServicio/modificarProveedorRequest" message="tns:modificarProveedor"/>
<output wsam:Action="http://WebService/ProveedorServicio/modificarProveedorResponse" message="tns:modificarProveedorResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/ProveedorServicio/modificarProveedor/Fault/Exception"/>
</operation>
<operation name="eliminarProveedor">
<input wsam:Action="http://WebService/ProveedorServicio/eliminarProveedorRequest" message="tns:eliminarProveedor"/>
<output wsam:Action="http://WebService/ProveedorServicio/eliminarProveedorResponse" message="tns:eliminarProveedorResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/ProveedorServicio/eliminarProveedor/Fault/Exception"/>
</operation>
<operation name="listarEmpresas">
<input wsam:Action="http://WebService/ProveedorServicio/listarEmpresasRequest" message="tns:listarEmpresas"/>
<output wsam:Action="http://WebService/ProveedorServicio/listarEmpresasResponse" message="tns:listarEmpresasResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/ProveedorServicio/listarEmpresas/Fault/Exception"/>
</operation>
<operation name="listarDocumentos">
<input wsam:Action="http://WebService/ProveedorServicio/listarDocumentosRequest" message="tns:listarDocumentos"/>
<output wsam:Action="http://WebService/ProveedorServicio/listarDocumentosResponse" message="tns:listarDocumentosResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/ProveedorServicio/listarDocumentos/Fault/Exception"/>
</operation>
<operation name="listarPaises">
<input wsam:Action="http://WebService/ProveedorServicio/listarPaisesRequest" message="tns:listarPaises"/>
<output wsam:Action="http://WebService/ProveedorServicio/listarPaisesResponse" message="tns:listarPaisesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/ProveedorServicio/listarPaises/Fault/Exception"/>
</operation>
<operation name="listarRegiones">
<input wsam:Action="http://WebService/ProveedorServicio/listarRegionesRequest" message="tns:listarRegiones"/>
<output wsam:Action="http://WebService/ProveedorServicio/listarRegionesResponse" message="tns:listarRegionesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/ProveedorServicio/listarRegiones/Fault/Exception"/>
</operation>
</portType>
<binding name="ProveedorServicioPortBinding" type="tns:ProveedorServicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarDistritos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="agregarProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listarProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listarProveedoresPaginacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listarProveedoresPaginacionCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listarProvincias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="modificarProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="eliminarProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listarEmpresas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listarDocumentos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listarPaises">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listarRegiones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="ProveedorServicio">
<port name="ProveedorServicioPort" binding="tns:ProveedorServicioPortBinding">
<soap:address location="http://localhost:8080/DsamiStore-web-Service/ProveedorServicio"/>
</port>
</service>
</definitions>