src/conf/xml-resources/web-service-references/UsuarioServicio/wsdl/localhost_8080/DsamiStore-web-Service/UsuarioServicio.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="actualizarUsuario" type="tns:actualizarUsuario"/>

<xs:element name="actualizarUsuarioResponse" type="tns:actualizarUsuarioResponse"/>

<xs:element name="agregarUsuario" type="tns:agregarUsuario"/>

<xs:element name="agregarUsuarioResponse" type="tns:agregarUsuarioResponse"/>

<xs:element name="buscarUsuarios" type="tns:buscarUsuarios"/>

<xs:element name="buscarUsuariosResponse" type="tns:buscarUsuariosResponse"/>

<xs:element name="eliminarUsuario" type="tns:eliminarUsuario"/>

<xs:element name="eliminarUsuarioResponse" type="tns:eliminarUsuarioResponse"/>

<xs:element name="ingresarUsuario" type="tns:ingresarUsuario"/>

<xs:element name="ingresarUsuarioResponse" type="tns:ingresarUsuarioResponse"/>

<xs:element name="listarUsuarios" type="tns:listarUsuarios"/>

<xs:element name="listarUsuariosPaginacion" type="tns:listarUsuariosPaginacion"/>

<xs:element name="listarUsuariosPaginacionCount" type="tns:listarUsuariosPaginacionCount"/>

<xs:element name="listarUsuariosPaginacionCountResponse" type="tns:listarUsuariosPaginacionCountResponse"/>

<xs:element name="listarUsuariosPaginacionResponse" type="tns:listarUsuariosPaginacionResponse"/>

<xs:element name="listarUsuariosResponse" type="tns:listarUsuariosResponse"/>

<xs:complexType name="buscarUsuarios">
<xs:sequence>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarUsuariosResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
<xs:element name="codigoEmpleado" type="xs:string" minOccurs="0"/>
<xs:element name="codigoRol" type="xs:string" minOccurs="0"/>
<xs:element name="codigoUsuario" type="xs:string" minOccurs="0"/>
<xs:element name="empleado" type="tns:empleado" minOccurs="0"/>
<xs:element name="nombreUsuario" type="xs:string" minOccurs="0"/>
<xs:element name="rol" type="tns:rol" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="empleado">
<xs:complexContent>
<xs:extension base="tns:persona">
<xs:sequence>
<xs:element name="codigoEmpleado" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="distrito" type="tns:distrito" minOccurs="0"/>
<xs:element name="documento" type="tns:documento" minOccurs="0"/>
<xs:element name="empresa" type="tns:empresa" minOccurs="0"/>
<xs:element name="idDistrito" type="xs:string" minOccurs="0"/>
<xs:element name="idEmpresa" type="xs:string" minOccurs="0"/>
<xs:element name="idPais" type="xs:string" minOccurs="0"/>
<xs:element name="idProvincia" type="xs:string" minOccurs="0"/>
<xs:element name="idRegion" type="xs:string" minOccurs="0"/>
<xs:element name="numDocum" type="xs:string" minOccurs="0"/>
<xs:element name="provincia" type="tns:provincia" minOccurs="0"/>
<xs:element name="region" type="tns:region" minOccurs="0"/>
<xs:element name="tipDocumento" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="persona">
<xs:sequence>
<xs:element name="apellidoMaterno" type="xs:string" minOccurs="0"/>
<xs:element name="apellidoPaterno" type="xs:string" minOccurs="0"/>
<xs:element name="codigoDocumento" type="xs:string" minOccurs="0"/>
<xs:element name="codigoPais" type="xs:string" minOccurs="0"/>
<xs:element name="codigoPersona" type="xs:string" minOccurs="0"/>
<xs:element name="codigoUbicacion" type="xs:string" minOccurs="0"/>
<xs:element name="fechaNacimiento" type="xs:dateTime" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="pais" type="tns:pais" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="distrito">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="idProvincia" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="provincia" type="tns:provincia" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="provincia">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="idRegion" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="documento">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="empresa">
<xs:sequence>
<xs:element name="idEmpresa" type="xs:string" minOccurs="0"/>
<xs:element name="idUbicacion" type="xs:string" minOccurs="0"/>
<xs:element name="razonSocial" type="xs:string" minOccurs="0"/>
<xs:element name="rucEmpresa" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="region">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="idPais" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="pais" type="tns:pais" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pais">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rol">
<xs:sequence>
<xs:element name="codigoRol" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarUsuariosPaginacionCount">
<xs:sequence>
<xs:element name="consulta" type="xs:string" minOccurs="0"/>
<xs:element name="cantidad" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarUsuariosPaginacionCountResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarUsuariosPaginacion">
<xs:sequence>
<xs:element name="consulta" type="xs:string" minOccurs="0"/>
<xs:element name="pagina" type="xs:int"/>
<xs:element name="cantidad" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarUsuariosPaginacionResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingresarUsuario">
<xs:sequence>
<xs:element name="nombreUsuario" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingresarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarUsuario">
<xs:sequence>
<xs:element name="codigoUsuario" type="xs:string" minOccurs="0"/>
<xs:element name="nombreUsuario" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
<xs:element name="codigoRol" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarUsuario">
<xs:sequence>
<xs:element name="nombreUsuario" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
<xs:element name="codigoEmpleado" type="xs:string" minOccurs="0"/>
<xs:element name="codigoRol" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarUsuarios">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarUsuariosResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarUsuario">
<xs:sequence>
<xs:element name="codigoUsuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarUsuarioResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>